# ===== Python virtual environments =====
venv/
.venv/
env/

# ===== Python cache / compiled files =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Jupyter Notebook =====
.ipynb_checkpoints/

# ===== VS Code =====
.vscode/

# ===== OS / editor junk =====
.DS_Store
Thumbs.db

